<div class="card shadow-sm rounded-5 d-flex flex-column justify-content-between" style="max-width: 350px; max-height: 150px; height: 150px;">
    <div class="pt-2 ps-3 pe-3">
        <div class="fw-semibold text-muted small mb-1">
           Transactions
        </div>
        <div class="bg-secondary rounded-3  d-flex flex-row " style="max-height: 50px; width: 100px; max-width: 100px;"></div>
    </div>
</div>

@code {
    
}
