@using FinanceTool.Data.Services
@inject UserDataService userData


<button @onclick="Logout" class="btn btn-outline-danger">Logout</button>

@code {
    private async Task Logout() {
        await userData.LogOutAsync();
    }
}

