@using FinanceTool.Models
@using Microsoft.AspNetCore.Authorization
@using FinanceTool.Data
@using FinanceTool.Components.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using FinanceTool.Data.Services
@using FinanceTool.Components.Helpers

@attribute [Authorize]
@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <div class="row g-4">
        <div class="col-md-6">
           <BalanceCard/> 
        </div>
        <div class="col-md-6">          
            <div class="card-body">
                <BalanceChart/>
            </div>
        </div>     
        <SavingsCard/>  
        <div class="col-md-6">
            <TransactionsList/>
        </div>
    </div>
</div>


<style>
    .header {
        font-size: 0.75rem;
        font-weight: 100;
        margin-top: 10px;
        margin-left: 20px;

    }
    .card-body {
        font-weight: 600;
        font-size: 1.5rem;
    }
</style>
